{% extends 'base.html' %}
{% block title %}Welcome to GRS{% endblock %}

{% block content %}
<html>
    <head>
        <title>Submit your score</title>

    </head>

    <body>
    <h2>Submit your {{ match_type }} score</h2>
    {% if add_match_error %}
          <div class="alert alert-danger" role="alert">
          {{ add_match_error }}
          </div>
      {% endif %}
<form method="POST">{% csrf_token %}

<!-- form variable -->
 {{ form.as_p }}

  <input type="submit" name="sumbit">
</form>
    </body>

</html>
{% endblock %}