{% extends "base.html" %}
{% block title %}Welcome to GRS{% endblock %}
{% block content %}
    <div class="landing-container">
        <div class="landing-container-top">
            <a class="btn btn-primary" href="#" role="button">Login</a>
        </div>
        <div class="landing-container-mid">
            <h4 style="text-align: center">Join the community of competitive players, and register now!<br>
                GRS lets you keep track of your score and compare your results with others.<br>
                Completly free!
            </h4>
        </div>
        <div class="landing-container-bot">
            <h4>Join now!</h4> <a class="btn btn-primary" href="#" role="button">Register</a>
        </div>
    </div>

    <div class="score-board-container">
        <div class="score-board-header">
            <h2>Public Score board</h2>
        </div>
        <div class="score-board-filters-sorting">
            <h3>Filter | Sorting | Game | etc.</h3>
        </div>
        <div class="score-board-content">
            <div class="score-board-table">

                {% for match in matches %}
                    <div class="score-board-table-row">
{#                    <div class="score-board-table-row">#}

                        {{ match.score.p1_character }} - {{ match.score.p1_id.nickname }} - {{ match.score.p1_score }}
                        VS {{ match.score.p2_score }} - {{ match.score.p2_id.nickname }} - {{ match.score.p2_character }}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}