{% extends "base.html" %}
{% block title %}Welcome to GRS{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="header-container">
            <div class="logo-container">
                <div class="user-buttons-container"></div>
                <h1>GRS - GAME RANKING SYSTEM</h1>
                <div class="user-buttons-container">
                    <h4><i class="bi bi-bell"></i>
                        <i class="bi bi-person-circle"></i></h4>
                        <p>{{ user }}</p>
                </div>
            </div>

            <div class="main-menu-container">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Public scoreboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'personal' %}">Personal scoreboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'ranking' %}">Rankings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_public' %}">Add Public score</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_personal' %}">Add Personal score</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="landing-container">
            <div class="logo-container">
                <h1>GRS - GAME RANKING SYSTEM</h1>
            </div>

            <div class="landing-container-top">
                <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
            </div>
            <div class="landing-container-mid">
                <h4 style="text-align: center">Join the community of competitive players, and register now!<br>
                    GRS lets you keep track of your score and compare your results with others.<br>
                    Completly free!
                </h4>
            </div>
            <div class="landing-container-bot">
                <h4>Join now!</h4> <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign-up</a>
            </div>

        </div>
    {% endif %}

    {% block content_inner %}{% endblock %}

{% endblock %}